---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.page__hero--overlay {
  aspect-ratio: 5800 / 4000;
  width: 100vw;
  max-height: 70vh;
  background-size: contain;
}

/* Neutralize W3CSS typography */
body {
  font-family: inherit !important;
  font-size: inherit !important;
}

.page__content .w3-container,
.page__content .w3-content,
.page__content .w3-panel,
.page__content .w3-button,
.page__content .w3-card {
  font-family: inherit !important;
  font-size: inherit !important;
}






