---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.page__hero--overlay {
  aspect-ratio: 5800 / 4000;
  width: 100vw;
  max-height: 70vh;
  background-size: contain;
}

/* neutralize W3CSS fonts */
html, body {
  font-family: inherit;
  font-size: inherit;
}

.w3-button,
.w3-container,
.w3-content,
.w3-panel {
  font-family: inherit;
  font-size: inherit;
}

